@charset "UTF-8";

body {
	margin: 0;
	overflow-x: hidden;
	background-color: #636464;
}
.navbar {
    padding: 16px 16px
}

.m-0 {
	font-family: 'Do Hyeon', sans-serif;
}

#header {
	/* height: 8vh; */
	width: 100vw; 
	z-index: 2;
	background-color: #303C50;
	position: relative;
}

#wrap {
	position: relative;
	z-index: 1;
	margin: 0 auto;
	background-color: #403c3c;
	color: white;
	/* overflow-y: hidden;
	overflow-x: hidden; */
}
 
#body {
    width: 100vh;
    display: flex;
}

#container {
    background-color: #303C50;
}

#side {
    width: 250px;
    height: calc(100vh - 80px);
    background-color: #303C50;
}

.item {
    font-family: 'Jua', sans-serif;
}

.menu {
    display: flex;

}


a {
    text-decoration: none;
}

.item>a {
    color: white;
}

.item:hover {
    background-color: silver;
}


#main{
    background-color: #403c3c;
    width: 100%;
    height: 980px;
}

.Rectangle-3 {
    width: 1626px;
    height: 965px;
    margin: 0px 0 0 7px;
    padding: 9px 12px 10px;
    border-radius: 19px;
    background-color: #f5f5f5;
}

.Rectangle-4 {
    width: 1930px;
    height: 946px;
    border-radius: 11px;
    background-color: #636464;
    margin: auto;
    margin-top: 15px;
}

.nav-item {
    margin-top: auto;
    margin-bottom: auto;
    color: white;
}

.history-tab{
    background-color: #403c3c;
    height: 980px;
    color: black;
    font-family: 'Jua', sans-serif;
}

.nav-link{
    color: #495057;
}

.rectangle{
    background-color: #848484;
    height: 970px;
    margin-top: 14px;
    border-radius: 11px;
}

.nav-tabs{
    --bs-nav-tabs-link-active-color: black;
    --bs-nav-tabs-border-color: #403c3c;
    --bs-nav-tabs-link-active-border-color: #403c3c #403c3c #403c3c;
    --bs-nav-tabs-link-active-bg: #848484;
}



.monitoring-tab{
    padding: 23px 23px 0 23px;
}

.predict-tab{
    padding: 23px 23px 0 23px;
}

.tab-content{
    height: 900px;
    overflow: auto;  
}


.tab-date{
    color: black;
}

.t-head{
    margin-top: 1rem;
    margin-bottom: 7px;
    color: #1B0A2A;
}

.tb{
    margin: 1px 0 0px 0;
    padding: 0px 0 0px 0;
    font-size: 15px;
}

.rectangle-title1{
    width: 52px;
    height: 26px;
    margin: 0px 8px 0px 0px;
    padding: 0px 0px 0px 10px;
    border-radius: 10px;
    background-color: #919991;
    padding-top: 4px;
    color: #0A0A2A;
  }

  .rectangle-title2{
    width: 52px;
    height: 26px;
    margin: 0px 8px 0px 0px;
    padding: 0px 0px 0px 7px;
    border-radius: 10px;
    background-color: #919991;
    padding-top: 4px;
    color: #0A0A2A;
  }

  .rectangle-title2-2{
    width: 52px;
    height: 26px;
    margin: 0px 8px 0px 0px;
    padding: 0px 0px 0px 1px;
    border-radius: 10px;
    background-color: #919991;
    padding-top: 4px;
    color: #0A0A2A;
    font-size: 15px;
  }

  .rectangle-title3{
    width: 52px;
    height: 26px;
    margin: 0px 8px 0px 0px;
    padding: 1px 0px 0px 10px;
    border-radius: 10px;
    background-color: #919991;
    padding-top: 4px;
    color: #0A0A2A;
  }

  .rectangle-title4{
    width: 52px;
    height: 26px;
    margin: 0px 8px 0px 0px;
    padding: 0px 0px 0px 7px;
    border-radius: 10px;
    background-color: #919991;
    padding-top: 4px;
    color: #0A0A2A;
  }

  .rectangle-title5{
    width: 52px;
    height: 26px;
    margin: 0px 8px 0px 0px;
    padding: 0px 0px 0px 3px;
    border-radius: 10px;
    background-color: #919991;
    padding-top: 4px;
    color: #0A0A2A;
    font-size: 14px;
  }

  .t-name{
    display: flex;
  }
  .t-time{
    display: flex;
  }
  .t-trouble{
    display: flex;
  }
  .t-normal{
    display: flex;
  }
  .t-sol{
    display: flex;
  }

  .t-tro-b{
    color:  #8A0808;
  }

  .t-sol-b{
    color: #81C147;
  }

  .ans{
    font-size: 20px;
  }

  .company{
    color: white;
  }

  #home-tab{
    background-color: #848484;
  }
  .navbar.sticky-top>div:nth-child(2){
  	padding-left: 140px;
  }
  
  .log-1{
  	display: flex;
  }
  
  .log-2{
  	display: flex;
  }
  
  .mo-log{
    width: 3px;
    height: 20px;
    margin: 2px 5px 0 0;
    background-color: #82dbd0;
  }
  
    .pre-log{
    width: 3px;
    height: 20px;
    margin: 2px 5px 0 0;
    background-color: #82dbd0;
  }
  
   .mo-his-title{
    text-align: center;
    background-color: #919991;
  }

  .mo-his-log{
    text-align: center;
  }

  .pre-his-title{
    text-align: center;
    background-color: #919991;
  }

  .pre-his-log{
    text-align: center;
  }