@charset "UTF-8";

body {
	margin: 0;
	overflow-x: hidden;
	overflow-y: hidden;
	background-color: #636464;
}

a {
	text-decoration: none;
}

.m-0 {
	font-family: 'Do Hyeon', sans-serif;
}

#wrap {
	position: relative;
	z-index: 1;
	margin: 0 auto;
	background-color: #636464;
	color: white;
	overflow-y: hidden;
	overflow-x: hidden;
}

/* 헤더 스타일 설정 */
#header {
	/* height: 8vh; */
	width: 100vw;
	z-index: 2;
	background-color: #303C50;
	position: relative;
}

.navbar {
	padding: 16px 16px;
}

.nav-item {
	margin-top: auto;
	margin-bottom: auto;
}

.title-1 {
	font-family: 'Do Hyeon', sans-serif;
}

.menu {
	display: flex;
}

.item {
	font-family: 'Jua', sans-serif;
}

.item>a {
	color: white;
}

.item:hover {
	background-color: silver;
}

.navbar>.container-fluid {
	flex-wrap: nowrap;
}

/* 페이지넘김 버튼 스타일 설정 */
#btn-container {
	position: absolute;
	width: fit-content;
	text-align: center;
	float: left;
	display: inline;
	right: 1%;
	top: 47%;
}

.btn {
	border: none;
	background-color: transparent;
}

.fa-solid {
	color: white;
	opacity: 70%;
}

/* 컨테이너 스타일 설정 */
#container {
	display: flex;
	width: 100vw;
	height: 92vh;
}

.main {
	width: 100%;
	height: 92vh;
}

td{
	border-color: inherit; 
	border-style: solid; 
	border-width: 2px;
	}


table{
	font-size: 2.5ch;
	font-family: 'Do Hyeon', sans-serif;
}
  .navbar.sticky-top>div:nth-child(2){
  	padding-left: 140px;
  }
