@charset "UTF-8";

body {
	margin: 0;
	overflow-x: hidden;
	overflow-y: hidden;
	background-color: #636464;
}

a {
	text-decoration: none !important;
}

.m-0 {
	font-family: 'Do Hyeon', sans-serif;
}

#wrap {
	position: relative;
	z-index: 1;
	margin: 0 auto;
	background-color: #636464;
	color: white;
	overflow-y: hidden;
	overflow-x: hidden;
}

/* 헤더 스타일 설정 */
#header {
	height: 8vh;
	width: 200vw;
	z-index: 2;
	background-color: #303C50;
	position: relative;
}

.navbar {
	padding: 16px 16px;
}

.title-1 {
	font-family: 'Do Hyeon', sans-serif;
}

.menu {
	display: flex;
}

.item {
	font-family: 'Jua', sans-serif;
}

.item>a {
	color: white;
}

.item:hover {
	color: white !important;
	background-color: silver;
}

.navbar>.container-fluid {
	flex-wrap: nowrap;
}

.navbar.sticky-top>div:nth-child(2) {
    padding-left: 140px;
    padding-right: 28px;
    margin-top: 14px;
}

/* 페이지넘김 버튼 스타일 설정 */
#btn-container {
	position: absolute;
	width: fit-content;
	text-align: center;
	float: left;
	display: inline;
	right: 1%;
	top: 47%;
}

.btn {
	border: none;
	background-color: transparent;
}

.fa-solid {
	color: white;
	opacity: 70%;
}

/* 컨테이너 스타일 설정 */
#container {
	display: flex;
	width: 200vw;
	/* height: 92vh; */
}

.main {
	width: 100%;
	height: 92vh;
}

.rectangle-1 {
	position: relative;
	height: 100%;
/*	display: flex;*/
	flex-wrap: wrap;
	clear: both;
/* 	justify-content: center;
	align-items: center; */
}

#content1, #content3, #content5, #content7{
	float: left;
}

#content2, #content4, #content6, #content8{
	float: right;
}

/* #main-1>.rectangle-1 {
	padding-right: 16px;
}

#main-2>.rectangle-1 {
	padding-left: 18px;
} */
.rectangle-2 {
	width: 49.77%;
	height: 50%;
	border-radius: 11px;
	background-color: #3c3c40;
	margin: 2px;
	padding: 3px;
	transition: width 1s, height 1s;
}


.rectangle-gp {
	display: flex;
	width: 75%;
	height: 100%;
	margin: 2px;
	border-radius: 7px;
	background-color: #212529;
	flex-wrap: wrap;
	justify-content: center;
	justify-items: center;
}

.rectangle-data {
	width: 25%;
	height: 100%;
	display: flex;
	margin: 2px;
	border-radius: 6px;
	flex-direction: column;
	background-color: #212529;
}


.rectangle-value {
	display: flex;
	width: 75px;
	height: 30px;
	border-radius: 18px;
	background-color: #636464;
	font-size: 14px;
	align-items: center;
	justify-content: center;
}

.tank {
	height: 12%;
	padding: 0px 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.warning {
	display: flex;
	align-items: center;
}

.nav-item {
	margin-top: auto;
	margin-bottom: auto;
}

.line-1 {
	margin: 0px;
}

.tct {
	display: flex;
	flex-direction: row;
	font-size: 21px;
}

.wl {
	width: 23px;
	height: 23px;
	background-color: #3b9e18;
	border-top-left-radius: 14px;
	border-top-right-radius: 14px;
	border-bottom-left-radius: 14px;
	border-bottom-right-radius: 14px;
	margin-right: 10px;
}

.tctm {
	font-size: 20px;
}

.ondo {
	height: 50%;
	align-items: center;
	justify-content: space-between;
	margin: 0 10px;
}
.ondo-sub {
	display: flex;
	height: 50%;
	align-items: center;
	justify-content: space-between;
	margin: 0 10px;
}

.ondo-n {
	display: flex;
	font-size: 34px;
	color: whitesmoke;
}

.do {
	height: 50%;
	align-items: center;
	justify-content: space-between;
	margin: 0 10px;
}
.do-sub {
	display: flex;
	height: 50%;
	align-items: center;
	justify-content: space-between;
	margin: 0 10px;
}

.do-n> {
	display: flex;
	font-size: 34px;
	color: whitesmoke;
}

.ph {
	height: 50%;
	align-items: center;
	justify-content: space-between;
	margin: 0 10px;
}
.ph-sub {
	display: flex;
	height: 50%;
	align-items: center;
	justify-content: space-between;
	margin: 0 10px;
}

.ph-n {
	display: flex;
	font-size: 34px;
	color: whitesmoke;
}

.salt {
	height: 50%;
	align-items: center;
	justify-content: space-between;
	margin: 0 10px;
}
.salt-sub {
	display: flex;
	height: 50%;
	align-items: center;
	justify-content: space-between;
	margin: 0 10px;
}

.salt-n {
	display: flex;
	font-size: 34px;
	color: whitesmoke;
}

/* 리포트 스타일 설정 */
.report-view {
	width: 98%;
	height: 125%;
	padding: 0px 0px 0px 0px;
	border-radius: 7px;
	background-color: #d9bfa2;
	margin: 5px;
}

.report-view-head {
	font-size: 30px;
	display: flex;
	color: black;
	padding-top: 13px;
	margin: 0px 6px 0px 267px;
	justify-content: space-between;
	font-family: 'Jua', sans-serif;
}

.close {
	width: 33px;
	height: 31px;
}

.report-text {
	width: 523px;
	height: 18px;
	margin: 21px 105px 0 64px;
	font-size: 18px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #000;
	font-family: 'Jua', sans-serif;
}

.report {
	width: 99px;
	height: 42px;
	border-radius: 9px;
	box-shadow: 0 4px 4px 0 rgb(0 0 0/ 25%);
	background-color: rgba(233, 168, 93, 0.87);
	font-size: 19px;
	border: 0px;
	margin: -2px 0 0 -350px;
}

.report>a {
	color: black;
}

#imgtag {
	padding: 0px 10px;
	display: flex;
}

.rectangle-value {
	cursor: pointer;
}

.rectangle-gp {
	color: black;
	font-size: 3rem;
	display: grid;
	align-items: center;
	align-content: center;
}

.rectangle-gp>div{
	width: 670px;
	transition: width 1s, height 1s;
}

.rectangle-data>div{
	margin: 4px 10px;
	cursor: pointer;
}

.navbar.sticky-top>div:nth-child(2){
	padding-left: 140px;
	padding-right: 28px;
}
  
h5 {
	margin: 0;
}