@charset "UTF-8";
.navbar {
    padding: 16px 16px
}

.m-0 {
    font-family: 'Do Hyeon', sans-serif;
}

#wrap {
    margin: 0 auto;
    background-color: #303C50;
    color: white;
}

#body {
    width: 100vh;
    display: flex;
}

#container {
    background-color: #303C50;
}

#side {
    width: 250px;
    height: calc(100vh - 80px);
    background-color: #303C50;
}

.item {
    font-family: 'Jua', sans-serif;
   
}

.menu {
    display: flex;

}


a {
    text-decoration: none;
}

.item>a {
    color: white;
}

.item:hover {
    background-color: silver;
}

#main{
    width: 100%;
    height: 880px;
    font-family: 'Do Hyeon', sans-serif; 
    position: absolute; 
    z-index: 2; 
    top: 80px;
}
#title_join{
	margin-top: 70px; 
	color: #24FCFF; 
	font-size: 7ch; 
	text-align: center;
}
#join{
	text-align: left; 
	display: flex; 
	flex-direction: column; 
	align-items: center;
}
.Rectangle-3 {
    width: 1626px;
    height: 965px;
    margin: 0px 0 0 7px;
    padding: 9px 12px 10px;
    border-radius: 19px;
    background-color: #f5f5f5;
}

.Rectangle-4 {
    width: 1930px;
    height: 946px;
    border-radius: 11px;
    background-color: #403c3c;
    margin: auto;
    margin-top: 15px;
}

.nav-item {
    margin-top: auto;
    margin-bottom: auto;
}


#login {
    margin-left: 50px;
}

input[type=checkbox] {
    zoom: 1.5;
}

video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: relative; 
    z-index: 1;
}

table{
	font-size: 3ch;
	border-collapse: separate;
  border-spacing: 0 50px;
}
#submit{
	background-color: #8BBDFF; 
	height: 40px; 
	width: 150px; 
	border-color: white; 
	color: #000030; 
	padding-left: 40px; 
	padding-right: 40px; 
	font-size: 2ch; 
	font-family: 'Poor Story', cursive; 
	font-weight: bold;
}