<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
회원가입페이지
<form action="join.do" method="post">
회사ID<input type="text" name="COMPANY_ID"> <br><span id="result"></span>
회사PW<input type="password" name="COMPANY_PW"><br>
회사이름<input type="text" name="COMPANY_NAME"><br>
회사번호<input type="text" name="COMPNAY_TEL"><br>
회사주소<input type="text" name="COMPANY_ADDRES"><br>
<input type="submit" id="btn"  value="회원가입확인">
</form>




















</body>
</html>