<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>WaterGuard</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
	rel="stylesheet">
<link rel="stylesheet" href="css/main.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=do+Hyeon&family=Jua&family=Noto+Sans+KR:wght@100&display=swap"
	rel="stylesheet">



	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>

</head>

<body>
	<!-- header Navbar 시작 -->
	<div id="wrap">

		<div id="header">
			<nav class="navbar sticky-top ">
				<div class="container-fluid col-4">
					<a href="goMain.do"><img
						src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FmlsI7%2Fbtr0BB7bnSk%2FKiqvCvFrLHKhqg8WS3T3Y1%2Fimg.png"
						width="200" height="50" class="d-inline-block align-text-top"></a>
					<h3 class="m-0 title-1"></h3>
				</div>
				<div class="container-fluid col-4"></div>
				<div class="container-fluid col-4">
					<div class="item menu1 menu">
						<a href="goMonitoring.do"> <img
							src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2Fcj7reU%2Fbtr0Ayh4BNO%2FLOJ4gjo2ZmmAK78NuJcVtk%2Fimg.png"
							width="20" height="20"> 양식장 모니터링
						</a>
					</div>
					<div class="item menu2 menu">
						<a href="goPredict.do"> <img
							src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FrmAhC%2Fbtr0BCYQeaQ%2Fw0Jqj1s3HSRrHRuIvJK1J1%2Fimg.png"
							width="20" height="20"> 수질 예측
						</a>
					</div>
					<div class="item menu3 menu">
						<a href="goSetting.do"> <img
							src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2Fq0oYv%2Fbtr0w2rg3Fl%2FZKL1SrUPc49KPmkRdcfK8K%2Fimg.png"
							width="20" height="20"> 환경 설정
						</a>
					</div>
					<ul class="nav-item dropdown">
						<h5 class="m-0">
							<a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink"
								role="button" data-bs-toggle="dropdown" aria-expanded="false">[[${user.COMPANY_NAME}]]
							</a>
							<ul class="dropdown-menu"
								aria-labelledby="navbarDropdownMenuLink">
								<li><a class="dropdown-item" href="#">회사이름</a></li>
								<li><a class="dropdown-item" href="logout.do">로그아웃</a></li>
							</ul>
						</h5>
					</ul>
				</div>
				<div class="container-fluid col-6"></div>
			</nav>
		</div>
		<!-- header Navbar 끝-->

		<!-- 본문 시작 -->
		<div id="container">
			<!-- 본화면 시작 -->
			<div id=main>
				<div id=map style="display: inline-block; float: left; margin-top: 100px; margin-left: 20px;">
					<img src="img/지도api.png"
						style="width: 500px; height: 300px; float: left; margin-left: 200px;">
				</div>
				
				<div id=info style="display: inline-block; float: left; margin-top: 500px; margin-left: -500px;">
					<table border="3" bordercolor="lightgray" >
						
						<tr>
							<td rowspan="4" style="width: 100px; text-align: center;">완주</td>
							<td> 
							&nbsp; 🏠 전라북도 완주군 고산면 대아저수로 410-25</td>
							
						</tr>
						<tr>
							<td>&nbsp; 📞 063-553-10</td>
						</tr>
						<tr>
							<td> &nbsp; 🌊 4개</td>
						</tr>
						<tr>
							<td> &nbsp; 🦐 약 44,000마리</td>
						</tr>
						
						<tr>
							<td rowspan="4" style="width: 100px; text-align: center;">전주</td>
							<td > 
							 &nbsp; 🏠 전라북도 전주시 덕진구 콩쥐팥쥐로 1515 </td>
							
						</tr>
						<tr>
							<td> &nbsp; 📞 063-548-74</td>
						</tr>
						<tr>
							<td> &nbsp; 🌊 3개</td>
						</tr>
						<tr>
							<td> &nbsp; 🦐 약 4,500마리</td>
						</tr>
						
						<tr>
							<td rowspan="4" style="width: 100px; text-align: center;">진주</td>
							<td > 
							 &nbsp; 🏠 전라남도 진도군 고군면 동부해안로 427 </td>
							
						</tr>
						<tr>
							<td> &nbsp; 📞 061-589-06</td>
						</tr>
						<tr>
							<td> &nbsp; 🌊 1개</td>
						</tr>

					</table>
					
				</div>
				<div id=weather1
					style="display: inline-block; float: right; margin-left: 30px; margin-top: 60px;">
					<img src="img/날씨_누끼.png"
						style="width: 500px; height: 250px; float: right; margin-right: 250px;"></div>
				
				<div id=weather2
					style="display: inline-block; float: right; margin-left: 300px; margin-top: 30px;">
					<img src="img/날씨_누끼.png"
						style="width: 500px; height: 250px; float: right; margin-right: 250px;"></div>
						
				<div id=weather3
					style="display: inline-block; float: right; margin-left: 300px; margin-top: 30px;">
					<img src="img/날씨_누끼.png"
						style="width: 500px; height: 250px; float: right; margin-right: 250px;"></div>


			</div>
		</div>
		<!-- 본화면 끝 -->
	</div>
	<!-- 본문 끝 -->
	</div>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

	<script src="js/main.js"></script>
	<script src="https://kit.fontawesome.com/5ecdf6234c.js"
		crossorigin="anonymous"></script>


	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"
		type="text/javascript"></script>


	
	 
	<script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>


	<script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAAdspPxZ8x7c5uSlWrR3XE2_p8rlBM4Bg&callback=initMap"></script>


</body>

</html>