<body>
	<div class="tank">
		<div class="tct" th:if="${tank}"  th:text="${tank.get(7).TANK_ID}"></div>
		<div class="tct" th:unless="${tank}"></div>
		<button class="report" id="report-8">리포트</button>
		<div class="warning">
			<div class="wl"></div>
			<div id="clock" class="tctm">2023년 2월 27일 PM 04:55</div>
		</div>
	</div>
	<div style="display: flex; width: 100%; height: 85%">
		<div class="rectangle-gp">
			<div class="rectangle-gp-8" id="ondo-wrap-8">
				<canvas id="ondo-gp-8"></canvas>
			</div>
			<div class="rectangle-gp-8" id="do-wrap-8">
				<canvas id="do-gp-8"></canvas>
			</div>
			<div class="rectangle-gp-8" id="ph-wrap-8">
				<canvas id="ph-gp-8"></canvas>
			</div>
			<div class="rectangle-gp-8" id="salt-wrap-8">
				<canvas id="salt-gp-8"></canvas>
			</div>
			<div class="report-view" id="report-view-8">
				<div class="report-view-head">
					<div>예측 결과</div>
					<a href="#" id="imgtag-8"><img
						src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2Fb8edCu%2Fbtr1zlPfslw%2Fzyo8l5jOpFzMBDzucsKLJ1%2Fimg.png"
						class="close"></a>
				</div>
				<div class="report-text">- 향후 6시간 이내 이상수치 예측이 없습니다.</div>
			</div>
		</div>
		<div class="rectangle-data">
			<div class="ondo value-8">
				<div class="ondo-sub">
					<div class="rectangle-value">현재 온도</div>
					<div class="ondo-n" id="ondo-acc-8"></div>
				</div>
				<div class="ondo-sub">
					<div class="rectangle-value">예측 온도</div>
					<div class="ondo-n" id="ondo-pre-8"></div>
				</div>
			</div>
			<hr class="line-1"></hr>
			<div class="do value-8">
				<div class="do-sub">
					<div class="rectangle-value">현재 DO</div>
					<div class="do-n" id="do-acc-8"></div>
				</div>
				<div class="do-sub">
					<div class="rectangle-value">예측 DO</div>
					<div class="do-n" id="do-pre-8"></div>
				</div>
			</div>
			<hr class="line-1"></hr>
			<div class="ph value-8">
				<div class="ph-sub">
					<div class="rectangle-value">현재 pH</div>
					<div class="ph-n" id="ph-acc-8"></div>
				</div>
				<div class="ph-sub">
					<div class="rectangle-value">예측 pH</div>
					<div class="ph-n" id="ph-pre-8"></div>
				</div>
			</div>
			<hr class="line-1"></hr>
			<div class="salt value-8">
				<div class="salt-sub">
					<div class="rectangle-value">현재 염도</div>
					<div class="salt-n" id="salt-acc-8"></div>
				</div>
				<div class="salt-sub">
					<div class="rectangle-value">예측 염도</div>
					<div class="salt-n" id="salt-pre-8"></div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>