<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.mapper.Companymapper">

<insert id="join" parameterType="com.smhrd.entity.Company">

insert into COMPANY
values(#{COMPANY_ID},#{COMPANY_PW},#{COMPANY_NAME},#{COMPANY_TEL},#{COMPANY_ADDRES})

</insert>
















</mapper>
