<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.mapper.TankMapper">

<select id="dataCheck" resultType="com.smhrd.entity.TankData">
select*from TANK_DATA
where RECORD_SEQ = 1
</select>




<select id="dataCheck2" resultType="com.smhrd.entity.TankData">
select*from TANK_DATA
where RECORD_SEQ = #{RECORD_SEQ}
</select>


<select id="tank1data" resultType="com.smhrd.entity.TankData">
select*from TANK_DATA
where TANK_ID = 'WT11'

</select>

<select id="tank2data" resultType="com.smhrd.entity.TankData">
select*from TANK_DATA
where TANK_ID = 'WT12'

</select>




</mapper>