<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.mapper.TankMapper">

<select id="dataCheck" resultType="com.smhrd.entity.TankData">
select*from TANK_DATA
where RECORD_SEQ = 1
</select>




<select id="dataCheck2" resultType="com.smhrd.entity.TankData">
select*from TANK_DATA
where RECORD_SEQ = #{RECORD_SEQ}
</select>


<select id="timedata" resultType="com.smhrd.entity.TankData">
select*from TANK_DATA
where TANK_ID='WT11'

</select>

<select id="tank2data" resultType="com.smhrd.entity.TankData">
select*from TANK_DATA
where TANK_ID='WT12'

</select>

<select id="tank3data" resultType="com.smhrd.entity.TankData">
select*from TANK_DATA
where TANK_ID='WT13'

</select>

<select id="tank4data" resultType="com.smhrd.entity.TankData">
select*from TANK_DATA
where TANK_ID='WT14'

</select>

<select id="tank5data" resultType="com.smhrd.entity.TankData">
select*from TANK_DATA
where TANK_ID='WT21'

</select>

<select id="tank6data" resultType="com.smhrd.entity.TankData">
select*from TANK_DATA
where TANK_ID='WT22'

</select>

<select id="tank7data" resultType="com.smhrd.entity.TankData">
select*from TANK_DATA
where TANK_ID='WT23'

</select>

<select id="tank8data" resultType="com.smhrd.entity.TankData">
select*from TANK_DATA
where TANK_ID='WT31'

</select>

<select id="tank_id" resultType="com.smhrd.entity.Tank" parameterType="com.smhrd.entity.Company">
select A.* from TANK A, COMPANY B
where A.COMPANY_ID = B.COMPANY_ID
and B.COMPANY_ID = #{COMPANY_ID}
</select>

<select id="tankDataPre" resultType="com.smhrd.entity.TankDataPre2" parameterType="String">
SELECT * 
FROM TANK_DATA_PRE2 A, TANK B
WHERE A.TANK_ID = B.TANK_ID
AND B.TANK_ID IN (SELECT TANK.TANK_ID FROM TANK, COMPANY 
					WHERE TANK.COMPANY_ID = COMPANY.COMPANY_ID
					AND COMPANY.COMPANY_ID = #{user})
</select>


<!-- <select id="locationData" resultType="object" parameterType="com.smhrd.entity.Company">
select A.LOCATION from TANK A, COMPANY B
where A.COMPANY_ID = B.COMPANY_ID
and B.COMPANY_ID = #{COMPANY_ID}
group by A.LOCATION
</select> -->

<select id="tankData" resultType="com.smhrd.entity.TankData" parameterType="String">
SELECT * 
FROM TANK_DATA A, TANK B
WHERE A.TANK_ID = B.TANK_ID
AND B.TANK_ID IN (SELECT TANK.TANK_ID FROM TANK, COMPANY 
					WHERE TANK.COMPANY_ID = COMPANY.COMPANY_ID
					AND COMPANY.COMPANY_ID = #{user})
</select>
  

 <select id="monitoringdata" parameterType="String" resultType="com.smhrd.entity.TankDataPre2">

SELECT * FROM (
  SELECT a.*, ROW_NUMBER() OVER (PARTITION BY a.tank_id ORDER BY PRE_RECORD_DATE DESC) AS row_num
  FROM TANK_DATA_PRE a, TANK b
  WHERE a.TANK_ID = b.TANK_ID
  AND b.COMPANY_ID = #{COMPANY_ID}
) AS subquery
WHERE row_num <![CDATA[<=]]> 1 
ORDER BY TANK_ID, PRE_RECORD_DATE DESC;

</select>



<!--  
<select id="monitoringdata" resultType="com.smhrd.entity.TankDataPre2" parameterType="String">
select * from TANK_DATA_PRE2
 where tank_id=#{tankId}
 ORDER BY PRE_RECORD_DATE DESC LIMIT 12
</select> -->
 </mapper>